@use "colors" as *;
@use "stylance";
@import "https://necolas.github.io/normalize.css/8.0.1/normalize.css";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Roboto', sans-serif;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: $color-bg;
	main {
		flex: 1;
		//height: 100%;
	}
}