@use "stylance/index" as *;
@use "colors" as *;
@import "https://necolas.github.io/normalize.css/8.0.1/normalize.css";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: $color-bg;
	height: 100vh;
	display:flex;
	flex-direction: column;
	main {
		flex:1;
	}
}