@use "../colors" as *;

.errorcontainer {
  background-color: $color-bg;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  
  footer {
    text-align: center;
    color: $color-2;
  }
}

.errormain {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;

  span {
    color: $color-2;
    font-size: 2rem;
  }

  h2 {
    color: $color-3;
    font-size: 2rem;
  }
}