@use "../colors" as *;

//define variable
$CL1: #FDC300FF;
$CL2: #fdf900;

@mixin memth($mc-bgcol){
  border:none;
  color: $color-bg;
  background: $mc-bgcol;
  text: $color-bg;
}

@mixin memcell($mc-bgcol) {
  height: 100%;
  input {
    padding: 0.12rem 0.12rem;
    height: 100%;
    width: 100%;
    border: none;
    color: $color-bg;
    background: $mc-bgcol;
    text-align: center;
    //no input outlight
    &:focus {
      color: #d11616;
      outline: none;
    }
  }
}

//class applied to <table>
.memorymap-9bb08bb{
  border-collapse: collapse;
  thead{
    tr{
      &> :nth-child(even) {
        border:none;
        color: $color-bg;
        background: $CL1;
      }
      &> :nth-child(odd){
        border:none;
        color: $color-bg;
        background: $CL2;
      }
    }
  }
  tbody{
    tr {
      th{
        padding: 0.0rem 0.4rem;
      }
    }
    &> :nth-child(even) {
      th {
        @include  memth($CL1);
        border-right: 0.2rem solid red;
      }
      td {
        @include memcell($CL1);
      }
    }
    &> :nth-child(odd){
      th {
        @include memth($CL2);
        border-right: 0.2rem solid red;
      }
      td {
        @include memcell($CL2);
      }
    }
  }
}