@use "../colors" as *;

.authcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100vw;
  background-color: $color-bg;

  main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      width: 50%;
      max-width: 45rem;
      min-width: 20rem;
      margin: 1rem;
      background-color: $color-3;
      border-radius: 1rem;

      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 70%;
        margin: 0.5rem 0;
        input {
          width: 100%;
          padding: 0.5rem;
          margin: 0.5rem;
          border: 2px solid $color-bg;
          border-radius: 1rem;
          font-size: 1rem;
          transition: background-color 0.5s;
          &:focus {
            outline:none;

          }
          &:global(.valid) {
            background-color: #30bd1a;
            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus,
            &:-webkit-autofill:active {
              -webkit-box-shadow: 0 0 0 30px #30bd1a inset !important;
            }
          }

          &:global(.warning) {
            background-color: #c8c514;
            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus,
            &:-webkit-autofill:active {
              -webkit-box-shadow: 0 0 0 30px #c8c514 inset !important;
            }
          }

          &:global(.invalid) {
            background-color: #ca3f25;
            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus,
            &:-webkit-autofill:active {
              -webkit-box-shadow: 0 0 0 30px #ca3f25 inset !important;
            }
          }
        }
      }

      input[type="submit"] {
        background-color: $color-bg;
        color: $color-3;
        font-size: 1.5rem;
        padding: 0.5rem 1rem;
        margin: 0.5rem;
        border: none;
        border-radius: 1rem;
        cursor: pointer;
        transition: background-color 0.3s;
        font-weight: 700;

        &:hover {
          background-color: $color-4;
        }
      }
    }
  }
}